* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game-canvas {
	width: 1696px;
	height: 848px;
	border: solid 1px black;
}

#retryGame {
	position: absolute;
	top: 63px;
	height: 32px;
	width: 100px;
	left: 0.3%;
}

#retryLevel {
	position: absolute;
	top: 97px;
	height: 32px;
	width: 100px;
	left: 0.3%;
}
